# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
env/
venv/

# Environment variables
.env

# SQLite database
data/agpw.db

# Ingest error files
errors/

# Logs
*.log

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/launch.json

# Docker
docker/*.pid

# Ruff
.ruff_cache/

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# Jupyter (na przyszłość)
.ipynb_checkpoints/

# System files
Thumbs.db
desktop.ini